* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #0f0f0f, #1c1c1c);
  color: white;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: #111;
}

.logo {
  color: #00ffcc;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  padding: 80px 20px;
}

.hero h2 {
  font-size: 40px;
  color: #00ffcc;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: #00ffcc;
  color: black;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.hero button:hover {
  background: white;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background: #222;
  padding: 25px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00ffcc33;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

footer {
  padding: 20px;
  background: #111;
  margin-top: 30px;
}
